$color-primario: #3936da;
$color-secundario: #000;

* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
    font-family: 'Alatsi', sans-serif;
	color: #414141;
	.contenedor {
		width: 50%;
		border-radius: 10px;
		padding: 50px;
		text-align: center;
		margin: 50px auto;
		align-items: center;
		background: #fff;
		box-shadow: 0px 0px 50px rgba(82, 82, 82, 0.1);

		h1 {
			color: $color-primario;
			font-size: 80px;
			margin-bottom: 10px;
		}
		
		a {
			color: $color-secundario;
			font-size: 40px;
		}
	}
}